*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:#fff;
    line-height:1.6;
}

a{
    text-decoration:none;
    color:inherit;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

.navbar{
    position:sticky;
    top:0;
    z-index:1000;
    background:rgba(15,23,42,.9);
    backdrop-filter:blur(15px);
    border-bottom:1px solid rgba(255,255,255,.08);
}

.navbar .container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:70px;
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;
    color:#fff;
    font-size:30px;
    font-weight:700;
    text-decoration:none;
}

.logo-icon{
    font-size:30px;
}

.nav-menu{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav-menu a{
    transition:.3s;
}

.nav-menu a:hover{
    color:#7c3aed;
}

.btn-wa,
.btn-primary,
.btn-secondary{
    display:inline-block;
    padding:14px 24px;
    border-radius:12px;
    font-weight:600;
    transition:.3s;
}

.btn-wa,
.btn-primary{
    background:#7c3aed;
    color:#fff;
}

.btn-secondary{
    border:1px solid rgba(255,255,255,.15);
}

.btn-wa:hover,
.btn-primary:hover{
    transform:translateY(-3px);
}

.hero{
    padding:100px 0;
    text-align:center;
}

.badge{
    display:inline-block;
    background:#7c3aed;
    padding:8px 18px;
    border-radius:999px;
    margin-bottom:20px;
}

.hero h1{
    font-size:56px;
    margin-bottom:20px;
}

.hero h1 span{
    color:#a78bfa;
}

.hero p{
    max-width:700px;
    margin:auto;
    opacity:.8;
}

.hero-button{
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

section{
    padding:80px 0;
}

.section-title{
    text-align:center;
    margin-bottom:40px;
}

.feature-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:#1e293b;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:30px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.steps{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.step{
    background:#1e293b;
    border-radius:20px;
    padding:25px;
    text-align:center;
}

.step span{
    display:inline-flex;
    width:50px;
    height:50px;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    background:#7c3aed;
    font-weight:bold;
    margin-bottom:15px;
}

.footer{
    background:#020617;
    padding:60px 0;
    text-align:center;
    border-top:1px solid rgba(255,255,255,.08);
}

.footer-menu{
    margin:20px 0;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.footer-copy{
    opacity:.6;
    font-size:14px;
}

@media(max-width:768px){

    .navbar .container{
        flex-direction:column;
        height:auto;
        padding:15px 0;
        gap:15px;
    }

    .nav-menu{
        gap:15px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:38px;
    }

}

.menu-toggle{
    position:absolute;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    background:none;
    border:none;
    color:#fff;
    font-size:32px;
    cursor:pointer;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:20px;
}

.admin-btn{
    background:#7c3aed;
    padding:10px 18px;
    border-radius:10px;
}

@media(max-width:768px){

.menu-toggle{
display:block;
}

.nav-links{
display:none;
flex-direction:column;
position:absolute;
top:75px;
left:0;
width:100%;
background:#111827;
padding:20px;
}

.nav-links.active{
display:flex;
}

}

/* ===== Premium Game Card ===== */

.feature-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:#1e293b;
    border-radius:20px;
    overflow:hidden;
    transition:.3s;
    border:1px solid rgba(255,255,255,.08);
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(124,58,237,.35);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    display:block;
}

.card-body{
    padding:20px;
}

.card-body h3{
    font-size:22px;
    margin-bottom:10px;
}

.card-body p{
    opacity:.8;
    margin-bottom:20px;
}

.btn-game{
    width:100%;
    display:block;
    text-align:center;
    padding:14px;
    border-radius:12px;
    background:#7c3aed;
    color:#fff;
    font-weight:600;
    transition:.3s;
}

.btn-game:hover{
    background:#6d28d9;
}

@media(max-width:768px){

.card img{
height:180px;
}

}

/* ========================= */
/* GAMES PAGE PREMIUM */
/* ========================= */

.games-page{
    padding:80px 0;
}

.games-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:18px;
    margin-top:20px;
}

.game-card{
    background:#232c3d;
    border-radius:22px;
    overflow:hidden;
    border:1px solid rgba(255,255,255,.08);
    transition:.25s;
}

.game-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 45px rgba(124,58,237,.35);
}

.game-card:active{
   transform:scale(.97);
}

.game-image{
    width:100%;
    height:180px;
    object-fit:cover;
    object-position:center 70%;
}

.game-content{
    padding:12px;
}

.game-content h2{
    font-size:18px;
    margin-bottom:6px;
}

.game-content p{
    font-size:14px;
    margin-bottom:12px;
    line-height:1.4;
}

.btn-game{
    padding:10px;
    font-size:15px;
    border-radius:12px;
}

.btn-game:hover{
    background:#6d28d9;
}

@media(max-width:768px){

.games-grid{
grid-template-columns:repeat(2,1fr);
gap:18px;
}

.game-image{
    height:160px;
    object-position:center 70%;
}

.game-content{
    padding:10px;
}

.game-content h2{
    font-size:17px;
}

.game-content p{
    font-size:13px;
    margin-bottom:10px;
}

.btn-game{
    padding:9px;
    font-size:14px;
}

}

/* ===========================
   PRODUCT V2
=========================== */

.product-page{
    padding:40px 0 80px;
}

.product-header{
    display:flex;
    align-items:center;
    gap:18px;
    margin-bottom:30px;
}

.product-logo{
    width:80px;
    height:80px;
    border-radius:18px;
    object-fit:cover;
}

.product-header h1{
    font-size:28px;
    margin-bottom:5px;
}

.product-header p{
    color:#94a3b8;
}

.product-page form{
    background:#1e293b;
    padding:25px;
    border-radius:20px;
}

.product-page label{
    font-weight:600;
    display:block;
    margin-bottom:10px;
}

.product-page input{
    width:100%;
    padding:14px 16px;
    border-radius:12px;
    border:1px solid #334155;
    background:#0f172a;
    color:#fff;
    outline:none;
    font-size:15px;
}

.product-page input:focus{
    border-color:#7c3aed;
}

/* ===== Diamond Card ===== */

.diamond-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:12px;

    margin:20px 0;

}

.diamond-card{

    display:block;

    cursor:pointer;

}

.diamond-card input{

    display:none;

}

.diamond-card div{

    transition:.25s;

}

.diamond-card input:checked + .diamond-name{

    background:#7c3aed;

    color:#fff;

}

.diamond-name{

    background:#111827;

    border-radius:14px 14px 0 0;

    padding:14px;

    text-align:center;

    font-weight:700;

    border:2px solid #2b3444;

    border-bottom:none;

}

.diamond-price{

    background:#182233;

    padding:12px;

    text-align:center;

    border-radius:0 0 14px 14px;

    border:2px solid #2b3444;

    border-top:none;

    color:#cbd5e1;

    font-size:14px;

}

.diamond-card:hover{

    transform:translateY(-3px);

}

.btn-primary{

    width:100%;

    padding:15px;

    border:none;

    border-radius:14px;

    background:#7c3aed;

    color:#fff;

    font-size:16px;

    font-weight:700;

    cursor:pointer;

}

.btn-primary:hover{

    background:#6d28d9;

}

@media(max-width:768px){

.product-header{

flex-direction:column;

text-align:center;

}

}

/* ===== Ringkasan ===== */

.order-summary{

margin-top:25px;

background:#111827;

border:1px solid rgba(255,255,255,.08);

border-radius:18px;

padding:18px;

}

.order-summary h3{

margin-bottom:15px;

font-size:18px;

}

.summary-item{

display:flex;

justify-content:space-between;

padding:10px 0;

border-bottom:1px solid rgba(255,255,255,.08);

}

.summary-item:last-child{

border-bottom:none;

}

.summary-item span{

color:#94a3b8;

}

.summary-item b{

color:#fff;

}

/* ========================= */
/* BANNER */
/* ========================= */

.banner-slider{
    width:100%;
    margin-bottom:25px;
    border-radius:18px;
    overflow:hidden;
}

.slide{
    display:none;
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:18px;
}

.slide.active{
    display:block;
}

/* ========================= */
/* PREMIUM SEARCH BOX */
/* ========================= */

.search-box{
    position:relative;
    margin:20px 0;
}

.search-icon{
    position:absolute;
    left:18px;
    top:50%;
    transform:translateY(-50%);
    font-size:18px;
    color:#9ca3af;
}

.search-box input{
    width:100%;
    padding:14px 18px 14px 50px;
    background:#232c3d;
    border:1px solid rgba(255,255,255,.08);
    border-radius:14px;
    color:#fff;
    font-size:15px;
    outline:none;
    transition:.3s;
}

.search-box input::placeholder{
    color:#9ca3af;
}

.search-box input:focus{
    border-color:#7c3aed;
    box-shadow:0 0 0 4px rgba(124,58,237,.2);
}

.auth-card{
    max-width:430px;
    margin:80px auto;
    background:#1f2937;
    border:1px solid rgba(255,255,255,.08);
    border-radius:24px;
    padding:35px 28px;
    box-shadow:0 0 40px rgba(124,58,237,.25);
}

.auth-card h1{
    font-size:40px;
    text-align:center;
    margin-bottom:10px;
}

.auth-card p{
    text-align:center;
    color:#b9bfd2;
    margin-bottom:30px;
    line-height:1.6;
}

.form-group{
    margin-bottom:18px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    color:#fff;
    font-weight:600;
}

.form-control{
    width:100%;
    padding:15px 18px;
    border:none;
    outline:none;
    border-radius:14px;
    background:#2a3447;
    color:#fff;
    font-size:15px;
    transition:.2s;
}

.form-control:focus{
    border:2px solid #7c3aed;
    box-shadow:0 0 20px rgba(124,58,237,.3);
}

.btn-auth{
    width:100%;
    padding:15px;
    border:none;
    border-radius:14px;
    font-size:17px;
    font-weight:700;
    cursor:pointer;

    background:linear-gradient(90deg,#7c3aed,#9333ea);

    color:#fff;
    transition:.25s;
}

.btn-auth:hover{
    transform:translateY(-2px);
    box-shadow:0 15px 35px rgba(124,58,237,.4);
}

.auth-footer{
    text-align:center;
    margin-top:24px;
    color:#b9bfd2;
}

.auth-footer a{
    color:#a855f7;
    font-weight:700;
    text-decoration:none;
}

.auth-footer a:hover{
    color:#c084fc;
}

.auth-card::before{
    content:"";
    position:absolute;
    inset:-80px;
    background:radial-gradient(#7c3aed55,transparent 70%);
    z-index:-1;
}

html,
body{
    overflow-x: hidden;
}

.profile-avatar{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:contain;
    padding:8px;
    object-position:center;
    overflow:hidden;
    border:4px solid #7c3aed;
    box-shadow:0 0 30px rgba(124,58,237,.4);
    display:block;
    margin:0 auto 20px;
    background:#1f2937;
}

.history-title{
margin-top:40px;
margin-bottom:20px;
font-size:28px;
font-weight:700;
}

.history-list{
display:flex;
flex-direction:column;
gap:18px;
}

.history-card{

background:#232c3d;

border-radius:20px;

padding:20px;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 10px 35px rgba(124,58,237,.15);

transition:.25s;

}

.history-card:hover{

transform:translateY(-5px);

box-shadow:0 15px 40px rgba(124,58,237,.3);

}

.history-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:18px;

}

.history-top h3{

margin:0;

font-size:22px;

}

.invoice{

color:#9ca3af;

font-size:14px;

margin-top:5px;

}

.status{

padding:8px 14px;

border-radius:999px;

font-size:13px;

font-weight:bold;

}

.success{

background:#16a34a;

color:white;

}

.pending{

background:#f59e0b;

color:white;

}

.failed{

background:#dc2626;

color:white;

}

.history-body p{

margin:10px 0;

font-size:15px;

}

.btn-history{

display:block;

margin-top:18px;

text-align:center;

background:#7c3aed;

padding:12px;

border-radius:14px;

color:white;

text-decoration:none;

font-weight:bold;

transition:.2s;

}

.btn-history:hover{

background:#6d28d9;

}

.history-empty{

background:#232c3d;

padding:30px;

border-radius:20px;

text-align:center;

}
